@using GlobalResources
@using Microsoft.Azure.Devices.Applications.RemoteMonitoring.DeviceAdmin.Web.Helpers
@{
    ViewBag.Title = "Add Devices in Bulk";
}
<header class="header_main">
    <h1 class="header_main__head">@Strings.AddBulkDevice</h1>
    <button class="header_main__button_back" type="button" onclick="window.history.back();"></button>
</header>
<div class="content_outer">
    @using (Html.BeginForm("FileUpload", "Device", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="content_inner">
            <div id="content">
                @Html.AntiForgeryToken()
                <input type="file" required name="file" id="file"  value="file" accept="text/csv, .csv" /><label for="file" style="width:200px; height: 26px; background-color:#1c9dd7;color:#ffffff;padding:5px; font-weight:100; cursor:grab"> Click here to choose a csv file</label>
                <br />
                <div id="message" style="color:#ff0000; font-weight:400"></div>
                <br /><br />
                <input type="submit" name="Submit" id="Submit" value="Upload" onclick="validate();"/>
                <script>
                    document.getElementById("file").onchange = function () {
                        document.getElementById("message").innerHTML = "Selected file: " + this.files.item(0).name;
                    }

                    function validate() {
                        if (document.getElementById("file").value.length == 0)
                            document.getElementById("message").innerHTML = "You must first choose a file!.";
                    }
                </script>
            </div>
        </div>
    }
</div>